body {
    margin:0;
    background:#486248;
}
nav {
    background:#141E14;
    width:100%;
    overflow:auto;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
}
li {
    float:left;
}

nav a {
    width:120px;
    display:block;
    text-decoration:none;
    text-align:center;
    background:#141E14;
    font-size:17px;
    color:white;
    padding:20px 10px;
    font-family:Arial;
}
nav a:hover {
    background:#B10000;
    color:black;
}

.container{
    max-width: 1200px;
    margin: auto;
    background: #f2f2f2;
    overflow: auto;
}

footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: #594848;
    color: white;
    font-family: Serif;
    letter-spacing: 1px;
}